<aside class="app-sidebar" id="sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">SMILE</span> FRESH</a>
    <button type="button" class="sidebar-toggle" (click)="clicked()">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li class="">
        <a class="animsition-link" [routerLink] = "['/']" routerLinkActive="active">
          <div class="icon">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <div class="title">Dashboard</div>
        </a>
      </li>
      <li class="@@menu.messaging">
        <a  [routerLink] = "['/doctors']" routerLinkActive="active">
          <div class="icon">
            <i class="fa fa-user-md" aria-hidden="true"></i>
          </div>
          <div class="title">Doctors</div>
        </a>
      </li>
      <li class="@@menu.messaging">
        <a  [routerLink] = "['/patients']" routerLinkActive="active">
          <div class="icon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="title">Patients</div>
        </a>
      </li>
      <li class="@@menu.messaging">
        <a [routerLink] = "['/calendar']" routerLinkActive="active">
          <div class="icon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
          <div class="title">Calendar</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul class="menu">
      <li>
        <a href="/">
          <i class="fa fa-cogs" aria-hidden="true"></i> ZOOM Creativo sucks
        </a>
    </ul>
  </div>
</aside>

<nav class="navbar navbar-default" id="navbar" style="background: transparent;">
  <div class="container">
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-mobile">
        <li>
          <button type="button" class="btn btn-default sidebar-toggle" (click)="clicked()">
            <i class="fa fa-bars"></i>
          </button>
        </li>
        <li class="logo">
          <a class="navbar-brand" href="#"><span class="highlight">SMILE</span> FRESH</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 20px;">
        <li class="btn btn-default" >
          <a class="sidebar-brand" [routerLink] = "['/']" routerLinkActive="active"><span class="highlight">SMILE</span> FRESH</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
