<button (click)="addPatient()" class="btn btn-primary"> ADD PATIENT </button>
<div *ngIf="addPat">
  <form>
    <div class="input-group">
      <div>ID<input [(ngModel)]="patient.id" id="patientId" type = "number" class="form-control" placeholder="Patient's ID"></div>
      <div>First Name<input [(ngModel)]="patient.firstName" id="patientFirstName" type="text" class="form-control" placeholder="Patient's Name"></div>
      <div>Last Name<input [(ngModel)]="patient.lastName" id="patientLastName" type = "text" class="form-control" placeholder="Patient's Last Name"></div>
      <div>Address<input [(ngModel)]="patient.address" id="patientAddress" type = "text" class="form-control" placeholder="Patient's Address"></div>
      <div>Cellphone's Number<input [(ngModel)]="patient.phone" id="patientPhone" type = "number" class="form-control" placeholder="Patient's Number"></div>
      <div>Occupation<input [(ngModel)]="patient.occupation" id="patientOccupation" type = "text" class="form-control" placeholder="Patient's Occupation"></div>
      <div>Birthdate<input [(ngModel)]="patient.birthdate" id="patientBirthdate" type = "date" class="form-control" placeholder="Patient's ID"></div>
      <div>Genre<input [(ngModel)]="patient.genre" id="patientGenre" type = "text" class="form-control" placeholder="Patient's Genre"></div>
    </div>
    <div>
      <button (click)="addPatientInformation()" class="btn btn-primary">DONE</button>
    </div>
  </form>
</div>
