<div class="jumbotron">
  <h1>Smile Fresh App</h1>
  <p>This is a powerful application that allows you to control the different fields of a dental office, giving you control of patients, doctors and payment system</p>
  <p><a class="btn btn-primary btn-lg" [routerLink] = "['/patients']" routerLinkActive="active">Use now</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Patients</h2>
        <p>This component allows to manage the patients of the clinic, to add patients and to list each one with its respective medical history.</p>
        <a class="btn btn-default" [routerLink] = "['/patients']" routerLinkActive="active">Manage Patients</a>
    </div>
    <div class="col-md-4">
        <h2>Doctors</h2>
        <p>Control the doctors who are part of the organization, add and list doctors easily.</p>
        <a class="btn btn-default" [routerLink] = "['/doctors']" routerLinkActive="active">Manage Doctors</a>
    </div>
    <div class="col-md-4">
        <h2>Calendar</h2>
        <p>This powerful calendar allows you to organize medical appointments by controlling the doctor in charge and the patient who owns the appointment. It allows to visualize in different forms days, months and years.</p>
        <a class="btn btn-default" [routerLink] = "['/calendar']" routerLinkActive="active">See Calendar</a>
    </div>
</div>

<hr>
<h2>News / Updates</h2>
<div class="row">
    <div class="col-md-6">
        <blockquote>
		  <p>New powerfull calendar update avaible in the calendar app page.</p>
		  <small>Available <cite title="Source Title">from version 2.0.1</cite></small>
		</blockquote>
    </div>
    <div class="col-md-6">
        <blockquote>
		  <p>The new payment system allows controlling the list of invoices and customers</p>
		  <small>Available <cite title="Source Title">from version 1.9.8</cite></small>
		</blockquote>
    </div>
</div>