<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#modalAddPatient">
      Add Doctor
      </button>

<div class="modal fade" id="modalAddPatient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Doctor</h4>
      </div>
      <div class="modal-body">
          <form>
            <div class="form-group label-floating">
                <label for="doctor_id" class="control-label">Doctor's Identification</label>
                <input [(ngModel)]="myDoctor.id" id="doctor_id" name="patientFirstName" type="text" class="form-control" placeholder="Doctor's Identification">
            </div>
            <div class="form-group label-floating">
                <label for="doctor_first_name" class="control-label">Doctor's First Name</label>
                <input [(ngModel)]="myDoctor.firstName" id="doctor_first_name" name="patientFirstName" type="text" class="form-control" placeholder="Doctor's Name">
             </div>
             <div class="form-group label-floating">
                <label for="doctor_last_name" class="control-label">Doctor's Last name</label>
                <input [(ngModel)]="myDoctor.lastName" id="doctor_last_name" type = "text" name="doctorLastName" class="form-control" placeholder="Doctor's Last Name">
             </div>
             <div class="form-group label-floating">
                <label for="doctor_address" class="control-label">Doctor's Address</label>
                <input [(ngModel)]="myDoctor.address" id="doctor_address" type = "text" name="doctorAdress" class="form-control" placeholder="Doctor's Address">
             </div>
             <div class="form-group label-floating">
                <label for="doctor_phone" class="control-label">Doctor's Phone</label>
                <input [(ngModel)]="myDoctor.phone" id="doctor_phone" name="doctorPhone" type = "number" class="form-control" placeholder="Doctor's Number">
             </div>
             <div class="form-group label-floating">
                <label for="doctor_occupation" class="control-label">Doctor's Occupation</label>
                <input [(ngModel)]="myDoctor.specialization" id="doctor_occupation" name="doctorOccupation" type = "text" class="form-control" placeholder="Doctor's Occupation">
             </div>
             <div class="form-group label-floating">
                <label for="doctor_birthdate" class="control-label">Doctor's Birthdate</label>
                <input [(ngModel)]="myDoctor.birthdate" id="doctor_birthdate" type = "date" name="doctorBirthday" class="form-control" placeholder="Doctor's Birthdate">
             </div>
             <div class="form-group">
                <label for="s1">Genere</label>
                <select id="s1" class="form-control" [(ngModel)]="myDoctor.genre" id="doctor_genre" name="doctorGenre" class="form-control" placeholder="Doctor's Genre"> 
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            <button (click)="addDoctor()" class="btn btn-raised btn-primary">ADD DOCTOR</button>
          </form>
        </div>
    </div>
  </div>
</div>
<div class="tablaDatos">
  <table id="doctores" class="datatable table table-striped primary" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Occupation</th>
              <th>Birthdate</th>
              <th>Genere</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
          </tr>
          <tr>
              <td>Garrett Winters</td>
              <td>Accountant</td>
              <td>Tokyo</td>
              <td>63</td>
              <td>2011/07/25</td>
              <td>$170,750</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
          </tr>
         
      </tbody>
  </table>
</div>