 <div class="panel">
  <header class="panel-heading">
    <h3 class="panel-title">Row Toggler</h3>
  </header>
  <div class="panel-body">

      <button class="btn btn-primary"> ADD DOCTORS </button>
      <div>
        <form>
          <div class="input-group">
            <div>ID<input [(ngModel)]="myDoctor.id" id="doctorId" type = "number" name="id" class="form-control" placeholder="Doctor's ID"></div>
            <div>First Name<input [(ngModel)]="myDoctor.firstName" id="doctor_first_name" name="doctorFirstName" type="text" class="form-control" placeholder="Doctor's Name"></div>
            <div>Last Name<input [(ngModel)]="myDoctor.lastName" id="doctor_last_name" type = "text" name="doctorLastName" class="form-control" placeholder="Doctor's Last Name"></div>
            <div>Address<input [(ngModel)]="myDoctor.address" id="doctor_address" type = "text" name="doctorAdress" class="form-control" placeholder="Doctor's Address"></div>
            <div>Cellphone's Number<input [(ngModel)]="myDoctor.phone" id="doctor_phone" name="doctorPhone" type = "number" class="form-control" placeholder="Doctor's Number"></div>
            <div>Specialization<input [(ngModel)]="myDoctor.specialization" id="doctor_occupation" name="doctorOccupation" type = "text" class="form-control" placeholder="Doctor's Occupation"></div>
            <div>Birthdate<input [(ngModel)]="myDoctor.birthdate" id="doctor_birthdate" type = "date" name="doctorBirthday" class="form-control" placeholder="Doctor's ID"></div>
            <div>Genre<input [(ngModel)]="myDoctor.genre" id="doctor_genre" type = "text" name="doctorGenre" class="form-control" placeholder="Doctor's Genre"></div>
          </div>
          <div>
            <button (click)="addDoctor()" class="btn btn-primary">DONE</button>
          </div>
        </form>
      </div>
 </div>
</div>