.form-control{
  margin-top: 15px;
  margin-bottom: 20px;
}
.btn{
  margin-bottom: 15px;
  margin-top: 15px;
}


toggle.bs-placeholder:hover {
   color: #ffffff !important;
}


.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  color: #ffffff !important;
}

