<label for="select_month">Select Month</label>
<select id="select_month" [(ngModel)]="month" class="form-control">
  <option [ngValue]="0">January</option>
  <option [ngValue]="1">February</option>
  <option [ngValue]="2">March</option>
  <option [ngValue]="3">April</option>
  <option [ngValue]="4">May</option>
  <option [ngValue]="5">June</option>
  <option [ngValue]="6">July</option>
  <option [ngValue]="7">August</option>
  <option [ngValue]="8">September</option>
  <option [ngValue]="9">October</option>
  <option [ngValue]="10">November</option>
  <option [ngValue]="11">December</option>
</select>

<button (click)="showEvents()" class="btn btn-primary">SHOW</button>




<div *ngIf="showEvent">

  <div class="card">
    <ul *ngFor="let event of eventsList" class="list-group list-group-flush">
      <li class="list-group-item">
        <p>Doctor: {{event.doctor}}</p>
        <p>Earned: {{event.total}}</p>
      </li>
    </ul>
  </div>
</div>
